.regime-page{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
}
.regime-banner{
    background: #000080;
    color:#FFCB05;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 40px;
    margin-bottom: 40px;
}
.regime-title{
    padding: 0;
    margin: 0;
}
.regime-body{
    position:relative;
    left: 0;
    right: 0;
    font-size: 24px;
    width: 100%;
}
.regime-main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.regime-left{
    width: 80%;
}
.regime-description{
    width: 75%;
    text-align: left;
    margin-top: 15px;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
}
.regime-workout-description{
    font-size: 16px;
    width:80%;
    margin:auto;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.regime-routine{
   width: 100%;
   font-size: 18px;
   padding: 30px;
   text-align: center;
}
.regime-routine-header{

    margin-bottom: 10px;
}

.regime-routine-schedule-header{
    background-color: #000080;
    color: #FFCB05;
    border-radius: 10px 10px 0px 0px;
    padding: 0;
    margin: 0;
    text-align: left;
}

.regime-main-workout{
    margin-top: 10px;
}

.regime-right{
    color:#000080;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-between;
    margin-top: 50px;
    width: 75%;
} 
.regime-link-section{
    /* padding: 10px; */
    width: 80%;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
}
.regime-link-section a{
    text-overflow: ellipsis;
    white-space: normal;
}

.regime-three-col {
    width: 100%;
}

.regime-link-img{
    object-fit: cover;
    max-height: 105px;
    max-width: 200px;
    
}

.regime-link-img:hover{
    opacity: 75%
}

.regime-bottom-div{
    color: #FFCB05;
    /* background-color: #000080; */
    font-weight: bold;
    /* border-top: 5px solid #000080; */
    bottom: 0px;
    width: 100%;
    /* border-bottom: 5px solid #000080; */
}

.regime-regime-buttons{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    
}

.regime-regime-buttons-section {
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: #000080;
    padding-top: 30px;
    padding-bottom: 30px;
}

.regime-table{
    border-collapse:collapse; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border:1px solid;
}

.regime-table tr, .regime-table th{
    margin: 0;
}

.regime-table-body{
    background-color: white;
    text-align: center;
    padding: 0;
    border-top:1px solid #000080;
}

.regime-daily{
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
}

.regime-weekly{

}

.regime-daily-schedule{
    /* border-radius: 0px 0px 10px 10px;
    background-color: #FFCB05;
    padding: 10px; */
    width: 70%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.regime-weekly-schedule{
    /* border-radius: 0px 0px 10px 10px;
    background-color: #FFCB05;
    padding: 10px; */
   
    width: 70%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.regime-weekly-schedule ul{
    list-style-type: none;
    padding: 0;
    margin: 5px;
}

.regime-schedule-header{
    background: #000080;
    color: #FFCB05;
}

.regime-button {
    color: #000080;
    border-radius: 20px;
    width: 200px;
    height: 64px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    /* line-height: 21px; */
    text-align: center;
    top: 10px;

    /* margin: 5px 50px 5px 50px; */
  
    background-color: #FFCB05;
}

.regime-button:hover{
    color:#0000F0;
    background-color: #ffe684;
}

.regime-button-text {
    padding: 0.15em;
    height: 100%;
    width: 100%;
}

.no-link-style, .no-link-style:hover{
    text-decoration: none;
    color: inherit;
}

.no-list-style{
    list-style-type: none;
}

.left-align{
    text-align: left;
}

.bolder-text{
    font-weight: bolder;
}


.regime-section-header {
    font-size: 40px;
    color: #000080;
    margin-top: 31px;
    width: 85%;
    text-align: left;
    margin: auto;
}

.regime-img-description {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
}

.regime-routine-subheader {
    font-size: 30px;
    text-align: left;
    width: 80%;
    margin: auto;
}

.regime-routine-subheader2 {
    font-size: 24px;
    text-align: left;
    width: 75%;
    margin: auto;
}

.regime-no-margin {
    margin: 0;
}

.regime-regime-buttons-text {
    font-size: 36px;
    width: 80%;
    text-align: left;
    font-weight: normal;
}

/* 
@media screen and (max-width: 1050px) {
    .regime-regime-buttons {
        flex-direction: column;
    }
} */

@media screen and (max-width: 950px) {
    .regime-right {
        flex-direction: column;
        align-items: center;
    }

    .regime-link-section {
        margin-bottom: 30px;
    }

    .regime-link-section-link {
        display: inline-block;
        width: 50%;
    }
    .regime-link-img {
        max-height: none;
        max-width: 100%;
    }

    .regime-three-col {
        width: 100%;
    }
}